@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 42%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 9%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 9%;

    --radius: 0.875rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 93%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 93%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 93%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 56%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 93%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    background-color: #000;
  }
  body {
    @apply text-foreground font-sans antialiased;
    min-height: 100dvh;
    background-color: #000;
    background-image: linear-gradient(
      to bottom,
      #099bfe 0%,
      #068df9 8%,
      #057cf2 16%,
      #0263e6 25%,
      #0246d5 35%,
      #002fb3 45%,
      #021e89 55%,
      #01125a 65%,
      #00082d 75%,
      #010310 85%,
      #01020a 92%,
      #000000 100%
    );
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
  }
}
